asgiref==3.11.1
click==8.4.1
Django==6.0.5
djangorestframework==3.17.1
gunicorn==26.0.0
joblib==1.5.3
nltk==3.9.4
numpy==2.4.6
packaging==26.2
pandas==3.0.3
python-dateutil==2.9.0.post0
regex==2026.5.9
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
